{{partial "head.html" .}}

{{$start:=time .Params.start}}
{{$end:=$start.Add (duration "minute" .Params.duration)}}

<h1>{{$start.Format "3:04PM" }}&ndash;{{$end.Format "3:04PM"}}: <a href="{{.Permalink}}">{{.Title}}{{with .Params.talk}} &mdash; {{.}}{{end}}</a></h1>
{{with .Params.headshot}}<img class="calloutImage" src="{{.}}"/>{{end}}
{{.Content}}

{{partial "footer.html" .}}