<div class="card">
    <div class="card-header border-0 py-3 d-flex align-items-center">
        {{with .Page.Resources.GetMatch "avatar"}}
        {{$resized := .Fill "100x100 smart"}}
        <img class="rounded-circle align-self-start mr-3 img-fluid"
            style="width: 5rem;"
            src="{{$resized.RelPermalink}}"
            alt="{{.Params.nick}}'s avatar">
        {{end}}
        <div>
            <h2 class="card-title">{{.Params.nick}}</h4>
            <h6 class="card-subtitle text-muted">{{.Title}}</h6>
        </div>
    </div>
    {{with .Summary}}
    <div class="card-body">
        {{.}}
    </div>
    {{end}}
    {{with .Params.links}}
    <div class="card-body">
    {{range .}}
        {{range $key, $value := .}}
            <a href="{{$value}}" class="card-link">{{$key}}</a>
        {{end}}
    {{end}}
    </div>
    {{end}}
</div>
